<div id="shelf-<%= shelf.id %>">
  <span class="type"><%= shelf.type %></span>
 

      <ul class="books">
        <%= render shelf.books %>
      </ul>



  <%= image_tag "shelf.png",:id=>"shelf" %>
<% if current_user?(shelf.user) %>
      <%= link_to "Delete", shelf, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <%= link_to "Add Book", books_path(:shelf_id => shelf.id), method: :post %>




    <% end %> 
</div>
