<div id="shelf-<%= shelf.id %>" class="shelf">
  <div class="panel category"><%= shelf.category %></div>
 

      <ul class="items">
        <%= render shelf.items %>
      </ul>


  <%= image_tag "shelf.png",:id=>"shelf" %>
<% if current_user?(shelf.user) %>


     <%= link_to "Delete", shelf, method: :delete,
                                       data: { confirm: "You sure?" } %>
     <%= link_to "Add item", items_path(:shelf_id => shelf.id,:title => "moby_dick"), method: :post %> 




    <% end %> 
</div>
