<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
	<small><br> You have <%= pluralize(@user.shelves.count, 'Shelf', 'Shelves')%></small>
      </h1>
    </section>
    <% if logged_in? && if current_user?(@user)%>
  
	<div class="row">
    
      
        <section class="shelf_form">
        <%= render 'shared/shelf_form' %>
    </section>
   
  </div>
<% end %>
<% end %>
  </aside>
  <div class="center">
    <% if @user.shelves.any? %> 
      </h3>
      <ol class="shelves">
        <%= render @user.shelves %>
      </ol>
    <% end %>
  </div>

