<li id="game" class = "row">
<%= image_tag(image_path("#{game.title}.jpg"),class:"col-md-5")%>
<%= link_to "Add Game", items_path(:shelf_id => shelf.id,:title => game.title), method: :post, class:"btn-info btn-sm" %>
<p class = "col-md-8">
<b>Title:</b> <%= game.title %>
<br>
<b>Developer:</b> <%= game.author %>
<br>
<b>Year:</b> <%= game.year %>
<br>
<b>Genre:</b> <%= game.genre %>
</p>
</li>
