<li id="book" class = "row">
<%= image_tag(image_path("#{book.title}.jpg"), class:"col-md-5")%>
<%= link_to "Add Book", items_path(:shelf_id => shelf.id,:title => book.title, :year => book.year), method: :post, class:"btn-info btn-sm" %>

<p class = "col-md-8">
<b>Title:</b> <%= book.title %>
<br>
<b>Author:</b> <%= book.author %>
<br>
<b>Year:</b> <%= book.year %>
<br>
<b>Genre:</b> <%= book.genre %>
</p>
</li>

